*,
*::before,
*::after {
  box-sizing: border-box;
}

.fixed {
  &--box {
    &_1 {
      position: fixed;
      top: 40px;
      left: 40px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-top: 1px solid#F1442A;
      border-left: 1px solid#F1442A;
    }

    &_2 {
      position: fixed;
      top: 40px;
      right: 40px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-top: 1px solid#F1442A;
      border-right: 1px solid#F1442A;
    }

    &_3 {
      position: fixed;
      bottom: 40px;
      left: 40px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-bottom: 1px solid#F1442A;
      border-left: 1px solid#F1442A;
    }

    &_4 {
      position: fixed;
      right: 40px;
      bottom: 40px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-right: 1px solid#F1442A;
      border-bottom: 1px solid#F1442A;
    }
  }

  &--color_list {
    position: fixed;
    top: 70px;
    left: 70px;
    padding-left: 0;
    margin-block: 0;
    font-family: 'timeline-210', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;

    @media (width < 1070px) {
      display: none;
    }
  }
}

a {
  color: #f1442a;
  text-decoration: none;
}

.color_list_1 {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.color_list_2 {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.color_list_3 {
  opacity: 1;
}

.color_list_4 {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.color_list_5 {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.about {
  &_1 {
    &-1 {
      position: fixed;
      bottom: 70px;
      left: 70px;
      z-index: 999;
      width: 400px;
      height: 70px;
      font-family: 'timeline-210', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      color: #f1442a;
      text-transform: uppercase;
      background-color: #000;

      @media (width < 1070px) {
        display: none;
      }
    }

    &:hover {
      opacity: 0;
    }
  }

  &_2 {
    &-2 {
      position: fixed;
      bottom: 70px;
      left: 70px;
      z-index: 1;
      width: 400px;
      height: 70px;
      font-family: 'timeline-210', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      color: #f1442a;
      text-transform: uppercase;

      @media (width < 1070px) {
        display: none;
      }
    }
  }
}

p {
  margin: 0;
  margin-block: 4px;
}

.code {
  position: fixed;
  right: 70px;
  bottom: 70px;
  padding: 4px;
  font-family: 'timeline-210', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #f1442a;
  text-transform: uppercase;
  border-radius: 2px;

  @media (width < 1070px) {
    display: none;
  }

  &:hover {
    color: #000;
    background-color: #f1442a;
  }
}

img {
  display: block;
  width: 100%;
  margin-block: auto;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100svh;

  &_mosaic {
    position: relative;
    grid-row: 2;
    grid-column: 2;
    min-width: 400px;
    min-height: 400px;
    aspect-ratio: 1/1;
    margin-block: auto;
    border: 3px solid#F1442A;

    &_green {
      &_2 {
        position: absolute;
        top: 0;
        opacity: 0;
      }
    }
  }
}

.grid_mosaic:hover .grid_mosaic_green_2 {
  opacity: 1;
}

.grid_mosaic:hover .grid_mosaic_green_1 {
  opacity: 0;
}

.footer {
  display: none;
  @media (width < 1070px) {
    display: block;
  }

  &_color_list {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
    margin-top: 70px;
    font-family: 'timeline-210', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
  }
}

.footer_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-family: 'timeline-210', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #f1442a;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;

  &_code {
    padding: 4px;
    text-align: center;
    border-radius: 2px;

    &:hover {
      color: #000;
      background-color: #f1442a;
    }
  }
}
